*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: (IDK);
}


nav a:visited{
    color: #09283c;

}

nav a:active{
    color: #092;
}

header,main{ 
    margin: 0 1em;
}

/*************************CONTACT FORM STYLES**********************/
form ul {
    list-style-type: none;
    padding-left: 0;
}
label{
    display: inline-block;
    min-width: 90px;
    text-align: right;
}
input,
textarea{
    border: 3px solid #092;
    font: 1em sans-serif;
    width: 300px;
}
/****************************************/

/********************************BADGE PAGE STYLES***********************************************/


#badge-gallery{
    margin-top: 30px;
}

#badge-gallery img{
    display: block;
    width: 100%;
    margin-top: 9px;

}

@media (min-width: 500px){
    #badge-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6px;

        margin-top: 0;
    }

}

@media (min-width: 900px){
    #badge-gallery{
        grid-template-columns: repeat(3, 1fr);
        width: 900px;
        margin: auto;
    }

}





/************************************/